<div style="padding: 50px; background-image: url('../../Content/texture2.jpg');" class="shadow">
    <div style="margin-top:25%;">
        <h2>Login to your account</h2>

        <form action="@Url.Action("Login")" method="post">
            <div class="form-horizontal">
                <div class="form-group">
                    <input id="email" name="email" type="email" class="form-control expand" placeholder="Email Address" />
                    <br />
                    <input id="password" name="password" type="password" class="form-control" placeholder="Password" />
                    <br />
                    <input type="submit" class="btn btn-primary" value="Login" />

                </div>
            </div>
        </form>
    </div>
</div>